<ion-view view-title="Dashboard">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap text-center">
        <h1>Füllstand: <strong>{{ coffee.level }}%</strong></h1>
      </div>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Füllstand (ml):</span>
        <input type="text" ng-value="coffee.capacity.current" readonly>
      </label>
      <label class="item item-input ">
        <span class="input-label">Letze Messung:</span>
        <input type="text" ng-value="coffee.timestamp | datefilter" readonly>
      </label>
    </div>

  </ion-content>
</ion-view>
